		body {
			background-color: white;
		}
		.website-footer {
			text-align: center;
			margin-top: 196px;
		}
		.features-display {
			margin-top: 120px;
		}
		.selection-container {
			margin-top: 48px;
		}
		.form-label-spacer {
			margin-top: 16px;
		}
		#result-l, #result-u {
			margin-top: 48px;
			margin-bottom: 48px;
		}
		@media only screen and (min-width: 600px) {
			.website-footer {
				text-align: center;
				margin-top: 244px;
			}	
		}
		@media only screen and (min-width: 768px) {
			.website-footer {
				text-align: center;
				margin-top: 292px;
			}	
		}
		@media only screen and (min-width: 992px) {
			.website-footer {
				text-align: center;
				margin-top: 340px;
			}
		}
