		body {
			background-color: white;
		}
		.website-footer {
			text-align: center;
			margin-top: 98px;
			padding-top: 48px;
			padding-bottom: 48px;
		}
		.features-display {
			margin-top: 75px;
		}
		.selection-container {
			margin-top: 48px;
		}
		.form-label-spacer {
			margin-top: 16px;
		}
		#result-l, #result-u {
			margin-top: 48px;
			margin-bottom: 48px;
		}
		.container {
			display: flex;
			justify-content: center;
		}
